
@model IEnumerable<SellModule.Models.Contract>

@{
    ViewBag.Title = "ViewJournal";
}

<h2>Журнал договоров</h2>

<p>
    @Html.ActionLink("Создать контракт", "CreateContract", "Contract")
</p>
<td>    </td>
<table>
    <tr>
        <th></th>
        <th>   </th>
        <th>Имя клиента</th>
        <th>Дата заключения</th>
        <th>Тип продукта</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Детали", "Details", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
            <td>   </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductType.ProductName)
            </td>
        </tr>
    }

</table>

