@model SellModule.Models.Contract

@{
    ViewBag.Title = "Add Contract";
}

<div class="jumbotron">
    <h1>Введите параметры договора</h1>
</div>
<form action="/Contract/CreateContract" method="post">

    <div class="row">
        <div class="col-md-4">
            <fieldset>

                <div class="editor-label">
                    @Html.Label("Тип продукта")
                </div>
                <div class="editor-field">
                    <!--Дроплист для типа продукта(Каско, Осаго) выбираем имя, передаем Id-->
                    @Html.DropDownList("ProductId", new SelectList(ViewBag.ProductTypes, "Value", "Text"))
                   @Html.ValidationMessageFor(model => model.ProductId)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Price)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @type = "number", @min = "0", @step = "1.00", @value = "0" } })
                    @Html.ValidationMessageFor(model => model.Price)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Date)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Date)
                    @Html.ValidationMessageFor(model => model.Date)
                </div>
                <p>
                    <input type="submit" value="Продать" />
                </p>
            </fieldset>
        </div>

        <div class="col-md-4">
            <fieldset>

                <div class="editor-label">
                    @Html.Label("Тип клиента")
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(m => m.CustomerType, new SelectList(ViewBag.ClientTypes, "Value", "Text"), new { @id = "ddlClientType", @style = "width:200px;", @onchange = "javascript:GetCustomers(this.value);" })
                    @Html.ValidationMessageFor(model => model.CustomerType)
                </div>

                <div class="editor-label">
                 @Html.Label("Имя клиента")
             </div>
             <div class="editor-field">
                 <select id="ddlCustomerId" name="CustomerId" ></select>
                 @Html.ValidationMessageFor(model => model.Customer)
             </div>
                
                
                <div class="editor-label">
                    @Html.LabelFor(model => model.Customer.BankNumber)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Customer.BankNumber)
                    @Html.ValidationMessageFor(model => model.Customer.BankNumber)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Customer.Address)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Customer.Address)
                    @Html.ValidationMessageFor(model => model.Customer.Address)
                </div>
            </fieldset>
        </div>
    </div>
</form>



<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script language="javascript" type="text/javascript">

    function GetCustomers(_customerTypeId) {
        var procemessage = "<option value='0'>Запрос обрабатывается</option>";
        $("#ddlCustomerId").html(procemessage).show();
        var url = '@Url.Action("GetCustomersByCustomerTypeId", "Contract")';

        $.ajax({
            url: url,
            data: { customerTypeId: _customerTypeId },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Выберите клиента</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#ddlCustomerId").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }

    function Action(code) {
    $.ajax({
        url: '@Url.Action("Action", "Chains")',
        type: "POST",
        data: { "code": code },
        "success": function (data) {
            if (data != null) {
                var vdata = data;
                $("#ChainName").val(vdata[0].name);
                $("#ChainCode").val(vdata[0].code);
                $("#username").val(vdata[0].username);
            }
        }
    });
}
</script>